/* Alexander Birrell and Eason Hamden
12/8/2025

Citations:
  Referenced CSS table styling 
  URL https://www.w3schools.com/css/css_table.asp
*/

body {
  width: 90%;
  font-family: "Segoe UI", sans-serif;
  background-color: rgb(228, 228, 228);
}

.navbar {
  display: flex;
  flex-direction: column;
}

.navbar-links {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.logo {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  color: rgb(78, 78, 221);
}

table,
th,
td {
  border: 2px solid gray;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
}

.input {
  border: 2px solid;
  padding: 16px;
  display: flex;
  justify-content: center;
  gap: 8px;
}
